################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mobile.Adm/v16/.suo
/.vs/slnx.sqlite
/EasySoccer.Mobile.Adm/.vs/EasySoccer.Mobile.Adm/v16/.suo
/EasySoccer.Mobile.Adm/.vs/EasySoccer.Mobile.Adm/DesignTimeBuild/.dtbcache.v2
/EasySoccer.Mobile.Adm/EasySoccer.Mobile.Adm/EasySoccer.Mobile.Adm/bin/Debug/netstandard2.0
/EasySoccer.Mobile.Adm/EasySoccer.Mobile.Adm/EasySoccer.Mobile.Adm/obj
/EasySoccer.Mobile.Adm/EasySoccer.Mobile.Adm/EasySoccer.Mobile.Adm.Android/bin/Debug
/EasySoccer.Mobile.Adm/EasySoccer.Mobile.Adm/EasySoccer.Mobile.Adm.Android/obj
/EasySoccer.Mobile.Adm/EasySoccer.Mobile.Adm/EasySoccer.Mobile.Adm.iOS/obj
/EasySoccer.Mobile.Adm/EasySoccer.Mobile.Adm.API/bin/Debug/netstandard2.0
/EasySoccer.Mobile.Adm/EasySoccer.Mobile.Adm.API/obj
